* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    box-sizing: border-box;
    color: rgb(202, 62, 62);

}

.grid-container {
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*1fr 1fr 1fr*/
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;

}

div:nth-child(1), div:nth-child(4) {
    background-color: #999999;
    padding: 50px;
    border-radius: 10px;

}

div:nth-child(2), div:nth-child(3) {
    background-color: #444444;
    padding: 50px;
    border-radius: 10px;

}


div:first-child {
    grid-column: 2/4;

}
div:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/5;
}
div:nth-child(3) {
    grid-column: 2/4;
    grid-row: 2/5;

}

div:nth-child(4) {
    grid-column: 1/4;
}